services:

  db:
    image: postgres:16
    container_name: infonex_db
    volumes:
      - infonex_postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_HOST=${DB_HOST}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PORT=${DB_PORT}

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h $DB_HOST -p $DB_PORT -U $DB_USER -d $DB_NAME" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: infonex_redis
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: infonex_web
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
    env_file:
      - .env
    environment:
      - TZ=Asia/Tashkent
      - DJANGO_SETTINGS_MODULE=config.settings
    volumes:
      - ./:/app
      - ./static:/app/static
      - ./media:/app/media
    ports:
      - "${PORT}:${PORT}"

  celery:
    build:
      context: ./
      dockerfile: ./Dockerfile
    container_name: infonex_celery
    restart: unless-stopped
    command: celery -A config worker --concurrency=10 --loglevel=INFO
    entrypoint: [ ]
    volumes:
      - ./:/app
      - ./static:/app/static
      - ./media:/app/media
    env_file:
      - ./.env
    depends_on:
      - redis
      - db

volumes:
  infonex_postgres_data:
  static:
  media:

