SECRET_KEY=django-insecure-change-me
DEBUG=False
ALLOWED_HOSTS=*
BOT_TOKEN=8516857526:AAFfuWNSIxzUL_yULgWq9SjvpyvbZchW31o
BOT_USER_ID=123456789
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
